.DS_Store
._*
Toki Pona Sitelen Emoji Keyboard.xcodeproj/project.xcworkspace/xcuserdata/dgreuel.xcuserdatad/UserInterfaceState.xcuserstate
Toki Pona Sitelen Emoji Keyboard.xcodeproj/xcuserdata/dgreuel.xcuserdatad/xcschemes/xcschememanagement.plist
